body {
    font-family: monospace;
}
button, .button {
    min-width : 20px;
    height : 40px;
    border : 2px solid #480692;
    font-size : 14px;
    font-weight : bold;
    color : #480692;
    cursor : pointer;
    margin : 0px 5px;
    font-family: monospace;
}

.button {
    background: linear-gradient(10deg, #eee, #afe);
}

.action-report, .error-report {
    text-align : center;
    font-style: italic;
    color : #666;
    margin : 5px 5px;
}

.chat-message {
    color : #666;
    margin : 5px 5px;
}

.chat-title {
    color : #480692;
}

.error-report {
    color : #f7807f;
}

input[type=text], .inp-text {
    width : 200px;
    height : 40px;
    border : 2px solid #480692;
    background: linear-gradient(10deg, #eee, #afe);
    font-size : 14px;
    font-weight : bold;
    color : #480692;
    margin : 0px 5px;
    padding-left : 10px;
    padding-right : 5px;
    font-family: monospace;
}

input:focus, button:focus {
    outline : none;
}

.right {
    float : right;
}

#people {
    margin-top: 80px;
    text-align: center;
    display: inline-block;
    max-width: calc(100% - 350px);
    vertical-align: top;
}

.text {
    color : #480692;
    font-weight: bold;
    font-size: 16px;
}

#chat {
    width : 230px;
    display: inline-block;
    margin-top : 80px;
}

#msgs-con {
    width : 100%;
    height : 350px;
    border : 2px solid #480692;
    background: linear-gradient(10deg, #eee, #afe);
    font-size : 14px;
    font-weight : bold;
    color : #480692;
    padding-left : 10px;
    font-family: monospace;
    display: inline-block;
    overflow : auto;
}

.person {
    width : 200px;
    display: inline-block;
    vertical-align: top;
}

.low {
    background-color: #c5f6fc;
}

.mid {
    background-color: #95dae3;
}

.high {
    background-color: #6dbcc6;
}

.static {
    color: #000;
    font-weight: bolder;
}

.inky {
    color: #444;
}

.gap-right {
    margin-right: 15px;
}

.gap-bottom {
    margin-bottom: 15px;
}

.numbers {
    background-color: #aaa;
}

.numbers:disabled, .numbers[disabled] {
    background-color: #666;
}

.opponent {
    background-color: #aa3;
}

.opponent-static {
    background-color: #a3a;
}

.opponent-inky {
    background-color: #3aa;
}